@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
:root {
    --primary-color: #FFFFFF; /* sidebar, cards, form components */
    --primary-color-2: #F2F3F7; /* body background */
    --secondary-color: #FBD504; /* buttons */
    --accent-color: #ff7a00; /* hovers */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--primary-color-2);
}

.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    padding: 18px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 10px;
}

.sidebar .logo img {
    width: 120px; 
    height: auto;  
}

.sidebar .menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu ul li {
    margin-bottom: 10px;
}

.sidebar .menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar .menu ul li a img {
    margin-right: 10px;
    width: 20px; 
    height: 20px; 
}

.profile-section {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px; 
    font-size: 10px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin-role {
    color: var(--accent-color);
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.menu-item.active, .menu-item:hover {
    background-color: var(--secondary-color);
    color: white;
}

.logout-section { 
    margin-top: 50px; 
    padding-bottom: 20px; /* Optional: add some spacing at the bottom */ 
} 
.logout-item { 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}
.logout-item img { 
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

/* dashboard main content */
.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: var(--primary-color-2);
}
.main-content h1{
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.notification-bell {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.notification-bell img {
    width: 24px; 
    height: 24px; 
}

.add-member-btn {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* hover state color */
.add-member-btn:hover {
    background-color: var(--accent-color); /* Darker gray on hover */
    transform: scale(1.05);
}
.add-member-btn:active {
    background-color: var(--accent-color);
    transform: scale(0.98);
}

.members-table {
    width: 100%;
    border-collapse: collapse;
}

.members-table th, .members-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.members-table th {
    background-color: var(--primary-color);
}
 /* Set a fixed height for each cell */
.members-table td {
    min-height: 50px !important;
    height: 50px !important;
    vertical-align: middle; /* Ensure the content is centered vertically */
}

.members-table tr {
    height: 50px !important;
}

.members-table tbody tr:hover { 
    background-color:   rgba(251, 213, 4, 0.3); 
    cursor: pointer;
}
.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.actions .approve {
    min-height: 25px !important;
    height: 25px !important;
    background-color: #4CAF50;
}

.actions .decline {
    min-height: 25px !important;
    height: 25px !important;
    background-color: #f44336;
}

.actions .evaluate {
    min-height: 25px !important;
    height: 25px !important;
    background-color: #ffa500;
}

/* Dashboard Styles */
.dashboard-cards {
    /* flex-wrap: wrap; */
    display: flex;
    overflow-x: auto;
    gap: 40px;
    margin-left: 5px;
    margin-top: 20px;
    justify-content: flex-start; 
}

.card {
    flex-grow: 1;
    background-color: var(--primary-color) !important;
    width: 300px; 
    height: 190px; 
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 60px;  
    height: 60px;  
    object-fit: contain;  
}


.card .value {
    font-size: 18px;
    font-weight: bold;
}

/* Subscription Plan Styles */
.subscription-plan {
    margin-top: 40px; 
}

.subscription-plan h2 {
    text-align: center; 
    margin-bottom: 20px;
}

.subscription-cards {
    flex-grow: 1;
    display: flex;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    justify-content: center; 
}

/* Specific styles for Subscription Plan cards */
.subscription-cards .card {
    width: 300px; 
    height: 300px; 
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
}

.card-content {
    text-align: center;
    margin-top: 15px; 
}

.name {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.price {
    font-size: 22px;
    color: #333;
}

.duration {
    font-size: 16px;
    color: #070707;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-top: 2px solid #050505;
    margin: 10px 0;
}

.features {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000000;
}

.features li {
    margin-bottom: 8px;
}

.subscribe-btn {
    margin-top: 20px; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(6, 5, 5);
    background-color: var(--secondary-color); 
    border: black;
    border-radius: 5px;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* hover state color */
.subscribe-btn:hover {
    background-color: var(--accent-color); /* Darker gray on hover */
    transform: scale(1.05);
}

.subscribe-btn:active {
    background-color: var(--accent-color);
    transform: scale(0.98);
}

/* Styles for Add New Member Modal */
.modal {
    position: fixed; /* Use fixed positioning to keep it centered relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; /* Hidden by default */
    z-index: 1000; 
}

/* Modal Content */
.modal-content {
    position: absolute; /* Positioning for centering the modal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    background-color: var(--primary-color);
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjust width */
    max-width: 600px; /* Set a maximum width */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-bottom: 10px; /* Add new member label */
    text-align: center;
    font-size: 20px;
}

/* Close Button (X) */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addMemberForm {
    background-color: var(--primary-color-2);
    margin-top: 20px;
    height: 520px; /* height sa form sulod sa modal */
}

/* Style for the form inputs */
#addMemberForm input {
    width: 100%; /* width sa text field */
    height: 6%; /* height sa text field */
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addMemberForm label {
    margin-top: 10px;
    font-weight: bold;
}

/* Focus effect */
#addMemberForm input:focus {
    border-color: var(--secondary-color); /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Save Button */
.save-btn {
    display: block; 
    margin: 10px auto; 
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 15px;  /* from 10px 20px to 5 and 15 para ma tupong ang text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%; 
    height: 6%;
}

/* hover state color */
.save-btn:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.save-btn:active {
    background-color: var(--accent-color);
    transform: scale(0.98);
}

.clear-btn {
    display: block; 
    margin: 10px auto; 
    background-color: #ccc; /* Gray background for the clear button */
    color: black; /* Black text color */
    padding: 5px 15px;  /* from 10px 20px to 5 and 15 para ma tupong ang text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 6%;
}

/* hover state color */
.clear-btn:hover {
    background-color: var(--accent-color); /* Darker gray on hover */
    transform: scale(1.05);
}

.clear-btn:active {
    background-color: var(--accent-color);
    transform: scale(0.98);
}

/* yes and cancel button in same line */
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.confirm-btn, .cancel-btn {
    margin: 0 10px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.confirm-btn {
    background-color: var(--secondary-color) !important; 
    color: white;
    background-color: var(--accent-color); 
    transform: scale(1.05);
}

.cancel-btn {
    background-color: #ccc; 
    color: black;
}


/* Evaluation Form styles */
.evaluation-main-content {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns: form on the left, results on the right */
    gap: 30px;
    padding: 40px;
    align-items: start; /* Ensures the grid aligns from the top */
}
.evaluation-main-content .evaluation-form {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two-column layout for form fields */
    gap: 15px; /* Space between items */
    background-color: var(--primary-color); /* Light yellow background for the form */
    width: 300%; 
    max-width: 1000px; 
    margin: 0 auto; /* Center the form horizontally */
    margin-left: 20px;
}

.evaluation-main-content .evaluation-results {
    display: flex;
    flex-direction: column; /* Stack results vertically */
    gap: 15px; /* Space between prediction and credit score */
    align-self: flex-start; /* Align results to the top of their grid area */
    margin-left: 20px;
}

.evaluation-main-content .evaluation-results h2 {
    border-bottom: 2px solid #000000; 
    padding-bottom: 5px; /* Space between the text and the line */
    margin-bottom: 10px; /* Space below the line */
    text-align: center;
    flex-grow: 1;
}

.evaluation-main-content .evaluation-results .prediction {
    width: 380px; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color); /* Light yellow background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.evaluation-main-content .evaluation-results .credit-score {
    width: 380px; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: -160px; /* Move the box to the left */
}

.evaluation-main-content .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.evaluation-main-content .form-group label {
    margin-bottom: 6px; /* Space between the label and textbox */
}

.evaluation-main-content .evaluate-btn {
    grid-column: span 2; /* Ensure the button spans both columns */
    justify-self: center; /* Center the button horizontally */
    width: 100%;
}

.evaluation-form select {
    flex-grow: 1;
    background-color: var(--primary-color); 
    color: #333; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 4px; 
}

.evaluation-form input {
    background-color: var(--primary-color); 
    color: #333; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.evaluate-btn-container {
    display: flex;
    justify-content: center; /* Center the button */
    width: 100%; /* Ensure it takes full width */
    margin-top: 20px; /* Add space above */
}

.evaluate-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    width: 300px; /* Adjust the width */
    grid-column: 1 / span 2; /* Ensure the button spans both columns */
    justify-self: center; /* This centers the button horizontally */
}

.evaluate-btn:hover {
    background-color: #ff9a33;
    transform: scale(1.05);
}

.evaluate-btn:active {
    background-color: #e66b00;
    transform: scale(0.98);
}


/* Evaluation Toast Message */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background */
    color: white;
    padding: 16px;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* Hidden by default */
}

/* Cooperative profile */

.coop-main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: var(--primary-color-2);
    height: 500px;
}
.coop-main-content h1{
    font-size: 20px;
}
/* Form Container */
form {
    background-color: var(--primary-color); /* Light yellow background */
    padding: 30px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555; /* Darker color for labels */
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: var(--secondary-color); /* Highlight on focus */
    outline: none; /* Remove default outline */
}

/* Form Row Style */
.form-row {
    display: flex;
    justify-content: space-between; /* Space between inputs */
    gap: 20px; /* Space between the two fields */
    margin-bottom: 20px; /* Space below each row */
}

.form-row .form-group {
    flex: 1; /* Allow the input fields to take equal space */
}

.form-row .form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555; /* Darker color for labels */
}

.form-row .form-control {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

.form-row .form-control:focus {
    border-color: var(--secondary-color); /* Highlight on focus */
    outline: none; /* Remove default outline */
}

/* Save Changes Button */
.btn {
    display: block; 
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #ff9a33;
    transform: scale(1.05);
}

.btn:active {
    background-color: #e66b00;
    transform: scale(0.98);
}

/* Textarea Specific Style */
textarea {
    resize: vertical; /* Allow vertical resizing only */
}

.member-profile-image {
    text-align: center;
}