<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/applicantsignup.css') }}">
</head>
<body>
    <div class="wrapper">
        <form id="signup-form" method="POST" action="{{ url_for('applicantsignup') }}">

            <div class="member-profile-image-logo">
                <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
            </div>

            <div>
                <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Karthi Madesh" class="profile-pic"><br>
                <p><i>**For Registered Members Only.<br>Please fill-up the form correctly. Your login credentials will be sent to your email.</i></p><br><br>
            </div>

            <div class="form-row">

                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" required maxlength="30" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" required maxlength="30" class="form-control">
                </div>
                             
            </div>

            <div class="form-row">
                <div class="form-group">
                    
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required maxlength="28" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    
                    <label for="email">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required maxlength="28" class="form-control">
                    <div class="error-message" id="password_error" style="color: red; display: none;"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">     
                    <label for="email">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required maxlength="28" class="form-control">
                    <div class="error-message" id="confirm_password_error" style="color: red; display: none;"></div>
                </div>
            </div>
         

            <button type="submit">Sign Up</button>
            <div class="signup-link"> <p>Already have a member account? <a href="{{ url_for('memberlogin') }}">Log in</a></p> </div>

        </form>
    </div>
</body>
</html>
