<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrediSync Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!--sidebar-->
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>
        <div class="profile-section">
            <img src="{{ url_for('static', filename='images/mavenco.png') }}" alt="Coop Profile" class="profile-pic">
            <h2>MAVENCO</h2>
            <p class="admin-role">Mandaue City Public Market Vendors</p>
        </div>
        <!--sidebar navs-->
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/home-svgrepo-com.svg') }}" alt="Dashboard Icon">Dashboard</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/group-svgrepo-com.svg') }}" alt="Members Icon">Members</a></li>
                <li><a href="{{ url_for('settings') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/settings-svgrepo-com.svg') }}" alt="Settings Icon">Settings</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <h1>Dashboard</h1>

        <!-- analytics boxes -->
        <div class="dashboard-cards">
            <div class="card">
                <div>
                    <h2>ALL MEMBERS</h2>
                    <div class="value">{{ all_members_count }}</div>
                </div>
                <img src="{{ url_for('static', filename='icons/users-group-rounded-svgrepo-com.svg') }}">
            </div>
        
            <div class="card">
                <div>
                    <h2>EVALUATED MEMBERS</h2>
                    <div class="value">0</div>
                </div>
                <img src="{{ url_for('static', filename='icons/user-check-rounded-svgrepo-com.svg') }}">
            </div>
        
            <div class="card">
                <div>
                    <h2>DECLINED MEMBERS</h2>
                    <div class="value">{{ declined_members_count }}</div>
                </div>
                <img src="{{ url_for('static', filename='icons/user-cross-rounded-svgrepo-com.svg') }}">
            </div>
        </div>
        


        <!-- subscription boxes -->
        <div class="dashboard-cards">
            
            <div class="subscription-cards">
                {% for plan in subscriptions %}
                    <div class="card">
                        <div class="card-content">
                            <div class="name">{{ plan.name }}</div>
                            <div class="price">₱{{ plan.price }}</div>
                            <div class="duration">{{ plan.duration }}</div>
                            <hr>
                            <ul class="features">
                                {% for feature in plan.features %}
                                <li>✓ {{ feature }}</li>
                                {% endfor %}
                            </ul>
                            <button class="subscribe-btn">Subscribe</button>
                        </div>
                    </div>
                   
                {% endfor %}
                
            </div>
        
        </div>
    </div>

   
</body>
</html>