<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrediSync Dashboard</title>

</head>
<body>

<div class="sidebar">
    <div class="logo"><img src="logo.png">CrediSync</div>
    <ul class="menu-item">
        <div class="profile">
            <img src="profile-icon.png">
            <div>Admin</div>
        </div>            
        <li><a href="#" class="active"><img src="home-icon.png">Dashboard</a></li>
        <li><a href="#"><img src="cooperative-icon.png">Cooperatives</a></li>
        <li><a href="#"><img src="applicants-icon.png">Applicants</a></li>
        <li><a href="#"><img src="payments-icon.png">Payments</a></li>
        <li><a href="#"><img src="transaction-icon.png">Transactions</a></li>
    </ul>
</div>

<div class="content">
    <div class="header">
        <input type="text" class="search-bar" placeholder="Search...">
        <div class="notification">🔔</div>
    </div>
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
        <div class="card">
            <div>
                <h2>COOPERATIVES</h2>
                <div class="value">4</div>
            </div>
            <img src="cooperative-icon.png">
        </div>
        <div class="card">
            <div>
                <h2>APPLICANTS</h2>
                <div class="value">20</div>
            </div>
            <img src="applicants-icon.png">
        </div>
        <div class="card">
            <div>
                <h2>PAYMENTS</h2>
                <div class="value">20</div>
            </div>
            <img src="payments-icon.png">
        </div>
        <div class="card">
            <div>
                <h2>TRANSACTIONS</h2>
                <div class="value">20</div>
            </div>
            <img src="transaction-icon.png">
        </div>
    </div>
</div>

</body>
</html>