<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrediSync Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!--sidebar-->
    <div class="sidebar">

        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>

        <div class="profile-section">
            <img src="{{ url_for('static', filename='images/cpmp-logo.jpg') }}" alt="Karthi Madesh" class="profile-pic">
            <h2>Cebu People</h2>
            <p class="admin-role">Admin</p>
        </div>
        <!--sidebar navs-->
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="menu-item active">Dashboard</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item">Members</a></li>
                <li><a href="#" class="menu-item">Settings</a></li>
            </ul>
        </nav>
    </div>

    <!--add your code inside this div-->
    <div class="main-content">

        <h1>Dashboard</h1>

        <div class="dashboard-cards">
            <div class="card">
                <div>
                    <h2>DATA</h2>
                    <div class="value">4</div>
                </div>
                <img src="{{ url_for('static', filename='icons/cooperative-icon.png') }}">
            </div>
            <div class="card">
                <div>
                    <h2>DATA</h2>
                    <div class="value">20</div>
                </div>
                <img src="{{ url_for('static', filename='icons/applicants-icon.png') }}">
            </div>
            <div class="card">
                <div>
                    <h2>DATA</h2>
                    <div class="value">20</div>
                </div>
                <img src="{{ url_for('static', filename='icons/payments-icon.png') }}">
            </div>
            <div class="card">
                <div>
                    <h2>DATA</h2>
                    <div class="value">20</div>
                </div>
                <img src="{{ url_for('static', filename='icons/transaction-icon.png') }}">
            </div>
        </div>

        <br><br><br><p>add Subscription boxes below</p>

    </div>

</body>
</html>