<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Application Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loanapplication-form.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!--sidebar-->
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>
        <div class="profile-section">
            <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Coop Profile" class="profile-pic">
            <p class="admin-role">{{ g.member['firstname'] }} {{ g.member['lastname'] }}</p>
            <p class="admin-role">{{ g.member['account_number'] }}</p>

        </div>
        <!--sidebar navs-->
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('member_dashboard') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/3dcube-svgrepo-com.svg') }}" alt="Dashboard Icon">Loan Application</a></li>
                <li><a href="{{ url_for('profile') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Profile Icon">Profile</a></li>
            </ul>
        </nav>
        <div class="logout-section"> 
            <a href="{{ url_for('memberlogout') }}" class="menu-item logout-item"> <img src="{{ url_for('static', filename='icons/logout-svgrepo-com.svg') }}" alt="Logout Icon">Logout</a> 
        </div>
    </div>

    <div class="main-content">

        <div id="applicant-info" class="tab-content active">

            <div class="content-box">

               
                <form method="POST" action="{{ url_for('submit_loan_application') }}" id="loan-application-form">

                    <input type="hidden" name="account_number" value="{{ account_number }}">
                    <input type="hidden" name="cooperative_id" value="{{ cooperative_id }}">

                    <div class="member-profile-image">
                        <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Karthi Madesh" class="profile-pic"><br>
                        <p><i>**For Registered Members Only.<br>Please fill-up the form correctly. Your loan application will be reviewed for approval.</i></p><br><br>
                    </div>

                    <div class="progress-bar-container">
                        <div class="progress-bar" id="progress-bar"></div>
                    </div>     

                    <div id="step-1" class="form-step active">
                        <!-- Loan Details -->
                        <p>STEP 1</p>
                        <h1>Loan Details</h1><br>
                        <div class="form-row">
                            <!-- Loan Type -->
                            <div class="form-group">
                                <label for="loantype">Loan Type</label>
                                <select name="Loan_Type" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="Personal Loans/Home Equity Loans">Personal Loans/Home Equity Loans</option>
                                    <option value="Auto Loans/Student Loans">Auto Loans/Student Loans</option>
                                    <option value="Mortgages/Small Business Loans">Mortgages/Small Business Loans</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="loanterm">Loan Term</label>
                                <select name="Loan_Term" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="85 months above">85 months above</option>
                                    <option value="60 to 84 months">60 to 84 months</option>
                                    <option value="12 to 60 months">12 to 60 months</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="loanterm">Payment Method</label>
                                <select name="Payment_Method" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="Cash">Cash </option>
                                    <option value="Post-dated Check">Post-dated Check </option>
                                    <option value="Debit to Savings Account">Debit to Savings Account </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="loanterm">Repayment Schedule</label>
                                <select name="Repayment_Schedule" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="Quarterly/Semi-Anually/Anually">Quarterly/Semi-Anually/Anually </option>
                                    <option value="Monthly">Monthly </option>
                                    <option value="Weekly">Weekly </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="net_take_home_salary">Loan Amount
                                <input type="text" id="Loan_Amount" name="Loan_Amount" required maxlength="6" class="form-control">
                            
                            </div>
                            
                        </div>
                        <button type="button" class="next-btn">Next</button>
                    </div>
                    
                    <div id="step-2" class="form-step">
                        <p>STEP 2</p>
                        <h1>Personal Information</h1><br>
                        <div class="form-row">
                            <!-- Last Name -->
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" name="lastname" required maxlength="30" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" required maxlength="30" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="middlename">Middle Name</label>
                                <input type="text" id="middlename" name="middlename" required maxlength="30" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="present_address">Present Address</label>
                                <input type="text" id="present_address" name="present_address" required maxlength="28" class="form-control">
                            </div>
                            <div class="form-group">
    
                                <label for="provincial_address">Provincial Address</label>
                                <input type="text" id="provincial_address" name="provincial_address" required maxlength="28" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="contact_number">Contact Number</label>
                                <input type="tel" id="contact_number" name="contact_number" required placeholder="e.g. 0917XXXXXXX" pattern="^(09|\+639)\d{9}$" inputmode="numeric" maxlength="11" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">   
                                <label for="civil_status">Civil Status</label>
                                <select id="civil_status" name="civil_status" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Widowed">Widowed</option>
                                </select>                     
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender" required class="form-control">
                                    <option value="">Please select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                
                                <label for="email">Email Address</label>
                                <input type="email" id="email" name="email" required maxlength="28" class="form-control">
                            </div>
    
                        </div>
                        <div class="form-row">
                            <button type="button" class="prev-btn">Previous</button>
                            <button type="button" class="next-btn">Next</button>
                        </div>
                        
                    </div>
                    
                    <div id="step-3" class="form-step">
                        <p>STEP 3</p>
                        <h1>Employment Information</h1><br>
                        <div class="form-row">
                            <!-- Employer Name -->
                            <div class="form-group">
                                <label for="employer_name">Employer Name</label>
                                <input type="text" id="employer_name" name="employer_name" required maxlength="30" class="form-control">
                            </div>
                            <div class="form-group">                     
                                <label for="position">Position</label>
                                <input type="text" id="position" name="position" required maxlength="30" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="employer_address">Employer Address</label>
                                <input type="text" id="employer_address" name="employer_address" required maxlength="30" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="employment_status">Employment Status</label>
                                <input type="text" id="employment_status" name="employment_status" required maxlength="12" class="form-control">
                                 
                            </div>
                           
                            <div class="form-group">
                                <label for="employer_contact_number">Contact Number</label>
                                <input type="text" id="employer_contact_number" name="employer_contact_number" required maxlength="11" class="form-control">
                            
                            </div>
                            <div class="form-group">
                                <label for="net_take_home_salary">Net Take Home Salary
                                <input type="text" id="net_take_home_salary" name="net_take_home_salary" required maxlength="6" class="form-control">
                            
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="prev-btn">Previous</button>
                            <button type="button" class="next-btn">Next</button>
                        </div>
                        
                    </div>
                    
                    <div id="step-4" class="form-step">
                        <p>STEP 4</p>
                        <h1>Co-Makers Information</h1><br>
                        <div class="form-row">
                            <label for="co_maker_toggle">Do you have a co-maker?</label>
                            <label class="switch">
                                <!-- <input type="checkbox" id="co_maker_toggle"> -->
                                <input type="checkbox" id="co_maker_toggle" name="co_maker_toggle" value="on">
                                <span class="slider round"></span>
                            </label>
                            
                        </div>
                        <div id="co-maker-form" style="display: none;">
                            <div class="form-row">
                                <!-- Co-Maker Fields -->
                                <div class="form-group">
                                    <label for="co_maker_lastname">Last Name</label>
                                    <input type="text" id="co_maker_lastname" name="co_maker_lastname" maxlength="30" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_firstname">First Name</label>
                                    <input type="text" id="co_maker_firstname" name="co_maker_firstname" maxlength="30" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_middlename">Middle Name</label>
                                    <input type="text" id="co_maker_middlename" name="co_maker_middlename" maxlength="30" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="co_maker_present_address">Present Address</label>
                                    <input type="text" id="co_maker_present_address" name="co_maker_present_address" required maxlength="28" class="form-control">
                                </div>
                                <div class="form-group">
        
                                    <label for="co_maker_provincial_address">Provincial Address</label>
                                    <input type="text" id="co_maker_provincial_address" name="co_maker_provincial_address" required maxlength="28" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_contact">Contact Number</label>
                                    <input type="text" id="co_maker_contact" name="co_maker_contact" required maxlength="12" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">   
                                    <label for="co_maker_civil_status">Civil Status</label>
                                    <select id="co_maker_civil_status" name="co_maker_civil_status" required class="form-control">
                                        <option value="">Please select</option>
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Widowed">Widowed</option>
                                    </select>                     
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_gender">Gender</label>
                                    <select id="co_maker_gender" name="co_maker_gender" required class="form-control">
                                        <option value="">Please select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_email">Email Address</label>
                                    <input type="email" id="co_maker_email" name="co_maker_email" required maxlength="28" class="form-control">
                                </div>
        
                            </div>
                            <h1>Employment Data</h1>
                            <div class="form-row">
                                <!-- Employer Name -->
                                <div class="form-group">
                                    <label for="co_maker_employer_name">Employer Name</label>
                                    <input type="text" id="co_maker_employer_name" name="co_employer_name" required maxlength="30" class="form-control">
                                </div>
                                <div class="form-group">                     
                                    <label for="co_maker_position">Position</label>
                                    <input type="text" id="co_maker_position" name="co_maker_position" required maxlength="30" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_employer_address">Employer Address</label>
                                    <input type="text" id="co_maker_employer_address" name="co_maker_employer_address" required maxlength="30" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="co_maker_employment_status">Employment Status</label>
                                    <input type="text" id="co_maker_employment_status" name="co_maker_employment_status" required maxlength="12" class="form-control">
                                     
                                </div>
                               
                                <div class="form-group">
                                    <label for="co_maker_employer_contact_number">Contact Number</label>
                                    <input type="text" id="co_maker_employer_contact_number" name="co_maker_employer_contact_number" required maxlength="12" class="form-control">
                                
                                </div>
                                <div class="form-group">
                                    <label for="co_maker_net_take_home_salary">Net Take Home Salary
                                    <input type="text" id="co_maker_net_take_home_salary" name="co_maker_net_take_home_salary" required maxlength="6" class="form-control">
                                
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <button type="button" class="prev-btn">Previous</button>
                            <button type="button" class="next-btn">Next</button>
                        </div>
                        

                    </div>

                    <div id="step-5" class="form-step">
                        <p>STEP 5</p>
                        <h1>Asset Details</h1><br>
                        <div class="form-row">
                            <label for="assets_toggle">Do you have assets?</label>
                            <label class="switch">
                                <input type="checkbox" id="assets_toggle" name="assets_toggle" value="on">
                                <span class="slider round"></span>
                            </label>
                            
                        </div>
                        <div id="assets-form" style="display: none;">
                            <!-- Asset Type Checkboxes -->
                            <div class="form-group">
                                <label>Asset Types</label>
                                <div>
                                    <label>
                                        <input type="checkbox" name="asset_type[]" value="Property"> Property
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="checkbox" name="asset_type[]" value="Vehicle"> Vehicle Owner
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                    <!-- Input Fields -->
                                <div class="form-group">
                                    <label for="registration_number">Registration Number</label>
                                    <input type="text" id="registration_number" name="registration_number" class="form-control" maxlength="15" required placeholder="XXXX-XXXX-XXXXX">
                                </div>
                                <div class="form-group">
                                    <label for="estimated_value">Estimated Asset Value</label>
                                    <input type="number" id="estimated_value" name="estimated_value" class="form-control" required maxlength="6">
                                </div>
                        
                                <!-- Dropdown for Ownership Status -->
                                <div class="form-group">
                                    <label for="ownership_status">Ownership Status</label>
                                    <select id="ownership_status" name="ownership_status" class="form-control" required>
                                        <option value="">Select Ownership Status</option>
                                        <option value="Owned">Owned Outright</option>
                                        <option value="Mortgaged">Mortgaged</option>
                                        <option value="Co-owned">Co-owned</option>
                                    </select>
                                </div>
                        
                                <!-- Input Field for Year Acquired -->
                                <div class="form-group">
                                    <label for="year_acquired">Year Acquired</label>
                                    <input type="number" id="year_acquired" name="year_acquired" class="form-control" required maxlength="4">
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-row">
                            <button type="button" class="prev-btn">Previous</button>
                            <button type="submit">Submit Application</button>
                        </div>
                       
                    </div>

                </form>  
                
                <script src="{{ url_for('static', filename='js/loanApplication.js') }}"></script>
                
            </div>

        </div>
        
    </div>

</body>

</html>