<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrediSync Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>

        <div class="profile-section">
            <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Coop Profile" class="profile-pic">
            <p class="admin-role">{{ cooperative_name }}</p>
        </div>
        
        <!-- Sidebar Navigation -->
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/3dcube-svgrepo-com.svg') }}" alt="Dashboard Icon">Dashboard</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/users-group-rounded-svgrepo-com.svg') }}" alt="Members Icon">Members</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/receipt-1-svgrepo-com.svg') }}" alt="Report Icon">Evaluation Report</a></li>
                <li><a href="{{ url_for('settings') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Settings Icon">Profile</a></li>
            </ul>
        </nav>

        <div class="logout-section"> 
            <a href="{{ url_for('logout') }}" class="menu-item logout-item"> <img src="{{ url_for('static', filename='icons/logout-svgrepo-com.svg') }}" alt="Logout Icon">Logout</a> 
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="header">
            <h1>Loan Applicants</h1>
            <div class="header-right">
                <!-- <input type="text" placeholder="Search..." class="search-bar"> -->
                <input type="text" placeholder="Search..." class="search-bar" id="searchBar">
                <!-- <button class="add-member-btn">ADD NEW MEMBER</button> -->
            </div>
        </div>

        {% if not members or members|length == 0 %}
        <div class="no-member-yet">
            <img src="{{ url_for('static', filename='icons/profile-2user-svgrepo-com.svg') }}" alt="Not Found Icon" />
            <div class="message">No members have been added yet.</div>
        </div>

        <div class="no-member-yet" id="noMembersFound" style="display: none;">
            <img src="{{ url_for('static', filename='icons/profile-2user-svgrepo-com.svg') }}" alt="Not Found Icon" />
            <div class="message">No search result</div>
        </div>
        
        {% else %}
            <table class="members-table">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <!-- <th>Contact Number</th> -->
                        <th>Email Address</th>
                        <!-- <th>Date Applied</th> -->
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="membersTableBody">
                    {% for member in members %}
                        <tr data-url="{{ url_for('member_profile', account_number=member['account_number']) }}">
                            <td>{{ member.account_number }}</td>
                            <td>{{ member.lastname }}</td>
                            <td>{{ member.firstname }}</td>
                            <!-- <td>{{ member.contact_number }}</td> -->
                            <td>{{ member.email }}</td>
                            <!-- <td>{{ member.date_applied }}</td> -->
                            <td class="status-cell">{{ member.status }}</td>
                            <td class="actions">
                                {% if member.status == 'Evaluated' %}
                                    <button class="approve" data-email="{{ member.email }}" data-name="{{ member.lastname }}">Approve</button>
                                    <button class="decline" onclick="openDeclineModal(this)">Decline</button>
                                {% elif member.status == 'Approved' %}
                                    <button class="approve" data-email="{{ member.email }}" data-name="{{ member.lastname }}" disabled>Approved</button>
                                {% elif member.status == 'Declined' %}
                                    <button class="decline" onclick="openDeclineModal(this)" disabled>Declined</button>
                                {% else %}
                                    <!-- currently pending member -->
                                    <button class="evaluate" onclick="evaluateMember()">Evaluate</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/searchMember.js') }}"></script>

    <!-- Add New Member Modal -->
    <div id="addMemberModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Add New Member</h2>
            <form id="addMemberForm" method="POST" action="{{ url_for('members') }}">

                <div class="member-profile-image">
                    <img src="{{ url_for('static', filename='icons/user-add-svgrepo-com.svg') }}" alt="Profile Picture" class="profile-pic">
                </div>

                <!-- Display error message if any -->
                {% if error_message %}
                    <div id="error-message" style="color: red; display: block;">
                        {{ error_message }}
                    </div>
                {% endif %}

                <!-- Display success message if any -->
                {% if success_message %}
                    <div id="success-message" style="color: green; display: block;">
                        {{ success_message }}
                    </div>
                {% endif %}

                <div class="form-row-member">
                    <div class="form-group-member">
                        <label for="account-number">Account Number</label>
                        <input type="text" id="account-number" name="account-number" required maxlength="8">
                        <div class="error-message" id="account_number_error" style="color: red; display: none;"></div>
                    </div>
                    <div class="form-group-member">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required maxlength="70">
                        <div class="error-message" id="name_error" style="color: red; display: none;"></div>
                    </div>
                </div>

                <div class="form-row-member">
                    <div class="form-group-member">
                        <label for="contact-number">Contact Number</label>
                        <input type="tel" id="contact-number" name="contact-number" required placeholder="e.g. 0917XXXXXXX" pattern="^(09|\+639)\d{9}$" inputmode="numeric" maxlength="11">
                        <div class="error-message" id="contact_number_error" style="color: red; display: none;"></div>
                    </div>
                    <div class="form-group-member">
                        <label for="email-address">Email Address</label>
                        <input type="text" id="email-address" name="email-address" required placeholder="Member's active email">
                        <div class="error-message" id="email_address_error" style="color: red; display: none;"></div>          
                    </div>
                </div>

                <div class="form-row-member">
                    <div class="form-group-member">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" required>
                        <div class="error-message" id="address_error" style="color: red; display: none;"></div>
                    </div>
                    <div class="form-group-member">
                        <label for="date-applied">Date Applied</label>
                        <input type="date" id="date-applied" name="date-applied" required>
                        <div class="error-message" id="date_applied_error" style="color: red; display: none;"></div>
                    </div>
                </div>

                <button type="submit" class="save-btn">Save</button>
                <button type="reset" class="clear-btn" id="clearBtn">Clear</button>
            </form>

            <script src="{{ url_for('static', filename='js/addMemberValidation.js') }}"></script>
        </div>
    </div>

    <!-- Decline Member Modal -->
    <div id="declineMemberModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeDeclineModal()">&times;</span>
            <h2>Are you sure you want to decline this member?</h2>
            <div class="button-container">
                <button class="confirm-btn" onclick="confirmDecline()">Yes</button>
                <button class="cancel-btn" onclick="closeDeclineModal()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Approve Member Modal -->
    <div id="approveMemberModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeApproveModal()">&times;</span>
            <h2>Are you sure you want to approve this member?</h2>
            <div class="button-container">
                <button class="confirm-btn" onclick="confirmApprove()">Yes</button>
                <button class="cancel-btn" onclick="closeApproveModal()">Cancel</button>
            </div>
        </div>
    </div>

    <!-- e load ang js para approve button -->
    <script src="{{ url_for('static', filename='js/addMember.js') }}"></script>

    <!-- e load ang js para approve button -->
    <script src="{{ url_for('static', filename='js/declineMember.js') }}"></script>
    
    <!-- script for add member modal diri -->
    <script>

        //clickable row - redirect to member profile component
        document.querySelectorAll('.members-table tbody tr').forEach(row => {
            row.addEventListener('click', function() {
                window.location = this.dataset.url;
            });
        });
        
        //prevent actions buttons redirecting you to member profile page
        document.querySelectorAll('.actions button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
                // Ensure button actions work correctly 
                const action = this.classList.contains('approve') ? 'approve' : 
                this.classList.contains('decline') ? 'decline' : 
                this.classList.contains('evaluate') ? 'evaluate' : null; 

                if (action === 'approve') { 
                    openApproveModal(this); 
                } else if (action === 'decline') {
                    openDeclineModal(this); 
                } else if (action === 'evaluate') {
                     evaluateMember(); 
                }
            });
        });
         
        // open add member modal
        document.querySelector('.add-member-btn').onclick = function() {
            document.getElementById('addMemberModal').style.display = 'block';
        };

        // close add member modal
        document.querySelector('.close-btn').onclick = function() {
            document.getElementById('addMemberModal').style.display = 'none';
        };

        // Close the modal when clicking outside of it
        window.onclick = function(event) {
            var modal = document.getElementById('addMemberModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    </script>

    <script>
    // Add event listeners to the evaluate buttons
    document.querySelectorAll('.evaluate').forEach(function(button) {
        button.addEventListener('click', function(event) {
            // Get the account number from the row
            var accountNumber = event.target.closest('tr').querySelector('td').textContent.trim();
            
            // Redirect to the evaluation page with the account number as a URL parameter
            window.location.href = "/evaluation?account_number=" + accountNumber;
        });
    });
    </script>

    <script src="{{ url_for('static', filename='js/evaluateMember.js') }}"></script>

</body>

</html>
