<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>

        <div class="profile-section">
            <img src="{{ url_for('static', filename='images/mavenco.png') }}" alt="Coop Profile" class="profile-pic">
            <h2>MAVENCO</h2>
            <p class="admin-role">Mandaue City Public Market Vendors</p>
        </div>
        
        <!-- Sidebar Navigation -->
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/home-svgrepo-com.svg') }}" alt="Dashboard Icon">Dashboard</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/group-svgrepo-com.svg') }}" alt="Members Icon">Members</a></li>
                <li><a href="{{ url_for('settings') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/settings-svgrepo-com.svg') }}" alt="Settings Icon">Settings</a></li>
            </ul>
        </nav>
    </div>


    <div class="coop-main-content">
        <!-- {% if member %}
        <p><strong>Account Number:</strong> {{ member.account_number }}</p>
        <p><strong>Name:</strong> {{ member.name }}</p>
        <p><strong>Contact Number:</strong> {{ member.contact_number }}</p>
        <p><strong>Email:</strong> {{ member.email }}</p>
        <p><strong>Address:</strong> {{ member.address }}</p>
        <p><strong>Date Applied:</strong> {{ member.date_applied }}</p>
        <p><strong>Status:</strong> {{ member.status }}</p>
        {% else %}
        <p>Member not found.</p>
        {% endif %} -->

        <form action="/update">
            <div class="member-profile-image">
                <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Karthi Madesh" class="profile-pic">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="coopName">Account Number</label>
                    <input type="text" id="coopName" class="form-control" value="{{member.account_number}}">
                </div>
                <div class="form-group">
                    <label for="address">Name</label>
                    <input type="text" id="address" class="form-control" value="{{member.name}}">
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" id="contactNumber" class="form-control" value="{{member.contact_number}}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" value="{{ member.address }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="contactNumber">Loan Application Status</label>
                    <input type="text" id="contactNumber" class="form-control" value="{{member.status}}" disabled>
                </div>
            </div>

            <button type="submit" class="btn">Save</button>
        </form>
</body>
</html>
