<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/credisync-logo.png') }}" alt="Logo">
        </div>

        <div class="profile-section">
            <img src="{{ url_for('static', filename='images/mavenco.png') }}" alt="Coop Profile" class="profile-pic">
            <h2>MAVENCO</h2>
            <p class="admin-role">Mandaue City Public Market Vendors</p>
        </div>
        
        <!-- Sidebar Navigation -->
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/home-svgrepo-com.svg') }}" alt="Dashboard Icon">Dashboard</a></li>
                <li><a href="{{ url_for('members') }}" class="menu-item active"><img src="{{ url_for('static', filename='icons/group-svgrepo-com.svg') }}" alt="Members Icon">Members</a></li>
                <li><a href="{{ url_for('settings') }}" class="menu-item"><img src="{{ url_for('static', filename='icons/settings-svgrepo-com.svg') }}" alt="Settings Icon">Settings</a></li>
            </ul>
        </nav>

        <div class="logout-section"> 
            <a href="{{ url_for('logout') }}" class="menu-item logout-item"> <img src="{{ url_for('static', filename='icons/logout-svgrepo-com.svg') }}" alt="Logout Icon">Logout</a> 
        </div>
    </div>


    <div class="coop-main-content">

        <form action="{{ url_for('update_member') }}" method="post">

            <div class="member-profile-image">
                <img src="{{ url_for('static', filename='icons/user-circle-svgrepo-com.svg') }}" alt="Karthi Madesh" class="profile-pic">
            </div>

            {% if success %} 
                <div id="success-message" style="color: green; text-align: center;">{{ success }}</div><br><br>
            {% endif %}

            <div class="form-row">
                <div class="form-group">
                    <label for="accountNumber">Account Number</label>
                    <input type="text" id="accountNumber" name="account_number" class="form-control" value="{{ member.account_number }}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" value="{{ member.name }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" id="contactNumber" name="contact_number" class="form-control" value="{{ member.contact_number }}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ member.email }}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" value="{{ member.address }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="contactNumber">Loan Application Status</label>
                    <input type="text" id="contactNumber" class="form-control" value="{{member.status}}" disabled>
                </div>
            </div>
            <button type="submit" class="btn">Save</button>
        </form>
        
</body>
</html>


